button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    background-color: #202020;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #333333;
}
