<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <title>Assignment Details</title>
</head>
<body>
    <header class="header">
        <div class="session-info">
          <p class="bigger-p" th:text="|Hello, ${name}!|">Hello, user!</p>
          <p class="lesser-p" th:text="|Today is ${date}|">Today is ...</p>
          <p class="bigger-p" th:text="|You are logged in as ${role}.|">You are logged in as ...</p>
        </div>
  
        <div class="header-actions">
          <button class="mode-toggle" onclick="toggleMode()">
            <img class="mode-icon" th:src="@{/images/mode.svg}" alt="Dark / Light Mode" />
          </button>
          <button class="logout"><a href="/login"><img class="logout-icon" th:src="@{/images/logout.svg}" alt="Logout"/></a></button>
        </div>
      </header>

    <button class="burger" onclick="toggleMenu()">☰</button>
    <nav class="menu" id="menu">
        <button class="close-btn" id="close-menu">←</button>
        <!-- Some quick overview of stuff from the other pages with a link and who is logged in at what date. -->
        <a href="/">Dashboard</a>
        <!-- For students, a list of subjects they are signed into. For teachers, subjects that they manage and signed in students. -->
        <a href="/subjects">Subjects</a>
        <!-- For students, a view of their homework and projects listed by course. For teachers, student works listed by course. -->
        <a href="/submissions">Submissions</a>
        <!-- For students, grades listed by course. For teachers, grades they have given to each student listed by course. -->
        <a href="/grading">Grading</a>
        <div th:if="${role.name() == 'STUDENT' or role.name() == 'ADMIN'}">
            <a href="/upload">Upload</a>
        </div>
        <a href="/export">Export</a>
    </nav>

    <div class="content">
        <div id="db-div" class="container-sub">
            <h2>Assignment:</h2>
            <table class="custom-table">
        <h1 th:text="${assignment.name}">Assignment Title</h1>

        <div>
            <p><strong>Description:</strong></p>
            <p th:text="${assignment.description}">Assignment description goes here...</p>
        </div>

        <div>
            <p><strong>Deadline:</strong> <span th:text="${#temporals.format(assignment.deadline, 'dd.MM.yyyy HH:mm')}"></span></p>
            <p>Current time: <span th:text="${#dates.format(now, 'dd.MM.yyyy HH:mm')}"></span></p>
            <p><strong>Max Points:</strong> <span th:text="${assignment.maxPoints}"></span></p>
        </div>

            </table>
        </div>
    </div>

    <script th:src="@{/js/script.js}"></script>
</body>
</html>