<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <title>Edu Grading</title>
</head>
<body>

    <header class="header">
        <div class="session-info">
          <p class="bigger-p" th:text="|Hello, ${name}!|">Hello, user!</p>
          <p class="lesser-p" th:text="|Today is ${date}|">Today is ...</p>
          <p class="bigger-p" th:text="|You are logged in as ${role}.|">You are logged in as ...</p>
        </div>
  
        <div class="header-actions">
          <button class="mode-toggle" onclick="toggleMode()">
            <img class="mode-icon" th:src="@{/images/mode.svg}" alt="Dark / Light Mode" />
          </button>
          <button class="logout"><a href="login"><img class="logout-icon" th:src="@{/images/logout.svg}" alt="Logout"/></a></button>
        </div>
      </header>
  
      <button class="burger" onclick="toggleMenu()">☰</button>
  
      <div class="main-container">
        <nav class="menu" id="menu">
          <button class="close-btn" id="close-menu">←</button>
          <!-- Some quick overview of stuff from the other pages with a link and who is logged in at what date. -->
          <a href="/">Dashboard</a>
          <!-- For students, a list of subjects they are signed into. For teachers, subjects that they manage and signed in students. -->
          <a href="subjects">Subjects</a>
          <!-- For students, a view of their homework and projects listed by subject. For teachers, student works listed by subject. -->
          <a href="submissions">Submissions</a>
          <!-- For students, grades listed by subject. For teachers, grades they have given to each student listed by subject. -->
          <a href="grading">Grading</a>
        </nav>
  
        <div class="content">
          <div id="db-div" class="container-sub">
            <h2>Your grades:</h2>
            <table class="custom-table">
              <thead>
                  <tr class="table-headers">
                      <th>Submission desc:</th>
                      <th>Subject:</th>
                      <th>Grade:</th>
                  </tr>
              </thead>
              <tbody>
                  <tr th:each="grade : ${grades}" th:data-status="${grade.score >= 0.8 * grade.submission.assignment.maxPoints ? 'excellent' 
                    : (grade.score &lt;= 0.2 * grade.submission.assignment.maxPoints ? 'poor' 
                    : 'average')}">
                          <td th:text="${grade.getSubmission().getStudentComment()}">Student comment</td>
                          <td th:text="${grade.getSubmission().getAssignment().getSubject().getName()}">Subject name</td>
                          <td th:text="${grade.getScore()}">Score</td>
                      </tr>
              </tbody>
          </table>
          </div>
  
          <!-- For the second table (averages for students, ungraded submissions for teachers) -->
          <div id="db-div" class="container-exp">
            <h2 th:if="${role.name() == 'STUDENT'}">Your avg. scores:</h2>
            <h2 th:if="${role.name() == 'TEACHER'}">Ungraded submissions:</h2>
            
            <!-- For STUDENT role -->
            <table th:if="${role.name() == 'STUDENT'}" class="custom-table">
              <thead>
                <tr class="table-headers">
                  <th>Subject:</th>
                  <th>Avg %:</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="average : ${averages}" th:data-status="${average.averagePercentage >= 80 ? 'excellent' :
                          (average.averagePercentage >= 40 ? 'average' : 'poor')}">
                  <td th:text="${average.subjectName}">Subject Name</td>
                  <td th:text="${#numbers.formatDecimal(average.averagePercentage, 1, 1)}">Average</td>
                </tr>
              </tbody>
            </table>
            
            <!-- For TEACHER role, you need to upload an assignment as a student to see a record -->
            <table th:if="${role.name() == 'TEACHER'}" class="custom-table">
              <thead>
                <tr class="table-headers">
                  <th>Assignment:</th>
                  <th>Subject:</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="submission : ${ungradedSubmissions}">
                  <td th:text="${submission.assignment.name}">Assignment Name</td>
                  <td th:text="${submission.assignment.subject.name}">Subject Name</td>
                </tr>
              </tbody>
            </table>
          </div>
  
      </div>
      <script th:src="@{/js/script.js}"></script>

    </body>
</html>