<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <title>Edu Home</title>
</head>
<body>
    <button class="mode-toggle" onclick="toggleMode()">
        <img src="/images/moon.svg" alt="Dark Mode" class="mode-icon" id="mode-icon">
    </button>

    <button class="burger" onclick="toggleMenu()">☰</button>
    <nav class="menu" id="menu">
        <button class="close-btn" id="close-menu">←</button>
        <!-- Some quick overview of stuff from the other pages with a link and who is logged in at what date. -->
        <a href="/api">Dashboard</a>
        <!-- For students, a list of subjects they are signed into. For teachers, subjects that they manage and signed in students. -->
        <a href="subjects">Subjects</a>
        <!-- For students, a view of their homework and projects listed by course. For teachers, student works listed by course. -->
        <a href="submissions">Submissions</a>
        <!-- For students, grades listed by course. For teachers, grades they have given to each student listed by course. -->
        <a href="grading">Grading</a>
    </nav>
    <div class="session-info">
        <p th:text="|Hello, ${name}!|">Hello, user!</p>
        <p th:text="|Today is ${date}|">Today is ...</p>
        <p th:text="|You are logged in as ${role}.|">You are logged in as ...</p>
    </div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>