<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <title>Edu Subjects</title>
</head>
<body>
    <header class="header">
      <div class="session-info">
        <p class="bigger-p" th:text="|Hello, ${name}!|">Hello, user!</p>
        <p class="lesser-p" th:text="|Today is ${date}|">Today is ...</p>
        <p class="bigger-p" th:text="|You are logged in as ${role}.|">You are logged in as ...</p>
      </div>

      <div class="header-actions">
        <button class="mode-toggle" onclick="toggleMode()">
          <img class="mode-icon" th:src="@{/images/mode.svg}" alt="Dark / Light Mode" />
        </button>
        <button class="logout"><a href="login"><img class="logout-icon" th:src="@{/images/logout.svg}" alt="Logout"/></a></button>
      </div>
    </header>

    <button class="burger" onclick="toggleMenu()">☰</button>

    <div class="main-container">
      <nav class="menu" id="menu">
        <button class="close-btn" id="close-menu">←</button>
        <!-- Some quick overview of stuff from the other pages with a link and who is logged in at what date. -->
        <a href="/">Dashboard</a>
        <!-- For students, a list of subjects they are signed into. For teachers, subjects that they manage and signed in students. -->
        <a href="subjects">Subjects</a>
        <!-- For students, a view of their homework and projects listed by course. For teachers, student works listed by course. -->
        <a href="submissions">Submissions</a>
        <!-- For students, grades listed by course. For teachers, grades they have given to each student listed by course. -->
        <a href="grading">Grading</a>
      </nav>

      <div class="content">
        <div id="db-div" class="container-sub">
          <h2>Your courses:</h2> <!-- NOTE: Student view -->
          <table class="custom-table">
            <thead>
                <tr class="table-headers">
                    <th>Course:</th>
                    <th>Teacher:</th>
                    <th>Status:</th>
                </tr>
            </thead>
            <tbody> <!-- TODO: Make courses clickable to link on their page (and add pointer cursor in CSS) -->
                <tr data-status="average">
                    <td>English 1</td>
                    <td>Anna Šmídková</td>
                    <td>1 left</td>
                </tr>
                <tr data-status="excellent">
                    <td>Java 2</td>
                    <td>Martin Krucipísek</td>
                    <td>All done</td>
                </tr>
            </tbody>
        </table>
        </div>

    </div>
    <script th:src="@{/js/script.js}"></script>
  </body>
</html>